* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: poppins, sans-serif;
}
.form-section {
    width: 600px;
    padding: 44px;
    background-color: #ecf0f3;
    border-radius: 9px;
    box-shadow: 0 0 12px rgba(0,0,0,0.6);
}
.contact-area {
    text-align: center;
    margin: 20px 0 20px 0;
}
.contact-area h1 {
    color: #fff;
    font-weight: 600;
}
.contact-area p {
    color: #fff;
    line-height: 1.5;
    width: 500px;
    margin: 0 auto;
}
.full-name {
    display: flex;
    gap: 20px;
    margin: 16px 0 16px 0;
}
.first {
    width: 50%;
}
.last {
    width: 50%;
}
.email-number {
    display: flex;
    gap: 20px;
    margin: 16px 0 16px 0;
}
.email {
    width: 50%;
}
.address {
    margin: 16px 0 16px 0;
}
.phone {
    width: 50%;
}
.comment {
    margin: 16px 0 16px 0;
}
.button {
    margin: 16px 0 16px 0;
}
.btn {
    width: 100%;
    display: inline-block;
    background-color: #236c91;
    color: #fff;
    padding: 14px 0;
    border-radius: 8px;
    border: 2px solid #fff;
    transition: 0.5s;
    box-shadow:0 0 10px rgba(0,0,0,0.6);
}
.btn:hover {
    background-color: #fff;
    color: #3f5f6f;
}
.input-field {
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    border: none;
    outline: none;
}
.comment-box {
    height: 150px;
}